@import 'settings';
@import 'common/layout';
@import 'common/typography';
@import 'common/colors';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontMontserrat);
}

.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
}

.testbg4{
    border: 1px solid red;
}

.mainWrapper{
  padding-top: 20px;
/*  background-color: yellow;
  display: none;*/
}

.loader,
.loader:before,
.loader:after {
  background: #105223;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #105223;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Add your global styles below... */

 /*ex:*/

:global {
.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}
}


