@import 'testStyles';
@import 'commonCategoryStyles';
@import '../common/colors';

.categoryImageWrapper{
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-around;
}

.imageOptionComponentWrapper{
  	margin-top: 10px;

}

