@import 'testStyles';
@import 'commonCategoryStyles';
@import '../common/colors';

.enter {
  /*opacity: 0.01;*/
  padding-top: 100%;
}
.enterActive {
  /*opacity: 2;*/
  padding-top: 0;
  /*transition: opacity 1s ease-in;*/
  transition: all 200ms ease-out;
}

.leave{

}
.leaveActive{
  transition: all 100ms;
}
/*.categoryWrapper {
  overflow: hidden;
}*/