@import 'testStyles';
@import 'commonCategoryStyles';
@import '../common/colors';

.contactForm{
	margin: 10px 0 20px 0;
  max-width: 400px;
}

.inputField{
	/*max-width: 300px;*/
}

.wrapperContactForm{
	align-items: center;
}

/*.wrapperContactComponent {
	position: relative;

}*/

.errorMessage{
	left: 0;
	position: static;
	width: 100%;
	text-align: left;
	margin: 0;
	display: block;
	height: auto;
	font-size: 12px;
	line-height: 20px;
}