@import 'testStyles';

.homeWrapper {
	margin: 0 5vw 0 5vw;
}

.pageTitle {
	text-align: center;
}

.pageSubTitle {
	text-align: center;
}

.optionsWrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.optionCategory {
	width: 300px;
}

.titleText {
	font-size: 4vw;
}

@media(max-width:480px) {
	.pageTitle {
		font-size: 8vw;
	}

	.titleText {
		font-size: 6vw;
	}

	.pageSubTitle {
		font-size: 6vw;
	}

}
