@import 'testStyles';
@import '../common/colors';

.ImageOptionWrapperUnselected{
  height: 250px;
  width: 200px;
  margin: 20px;
  border: 5px solid lightgrey;
}

.ImageOptionWrapperUnselected:hover{
  border-color: var(--MEKgreen);
  cursor: pointer;
}

.ImageOptionWrapperSelected{
  height: 250px;
  width: 200px;
  margin: 20px;
  border: 5px solid var(--MEKgreen);
}


.opionImage{
	width: 200px;
	height: 200px;
}

.headerText{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: var(--colorGreyText);
}

.subHeaderText{
  text-align: center;
  font-size: 10px;
  color: var(--colorGreyText);
}