@import 'testStyles';

.docsListWrapper {
	background-color: #FFFC8D;
}

.docsItem {
	font-size: 12px;
}

@media(max-width:480px) {
	.pageTitle {
		font-size: 8vw;
	}

	.titleText {
		font-size: 6vw;
	}

	.pageSubTitle {
		font-size: 6vw;
	}

}
